/* Mobile styles */
@media (max-width: 599px) {
  /* Global selectors */
  * {
    font-family: 'fira sans', arial, sans-serif;
    color: white;
  }

  body {
    margin: 0 auto;
    height: 100vh;
  }

  h1 {
    margin: 0;
  }

  input, textarea, button {
    color: black;
  }
  
  /* Class selectors */

  .active-nav-icon span {
    background-color: white;
    height: 3px;
    width: 35px;
    margin-top: calc(10px);
    border-radius: 15px;
    transition: 0.2s;
  }

  .inactive-nav-icon span {
    background-color: rgba(50, 50, 50, 1);
    height: 3px;
    width: 35px;
    margin-top: calc(10px);
    border-radius: 15px;
    transition: 0.2s;
  }

  .hidden-nav-links {
    transform: translate(-100%);
  }

  .shown-nav-links {
    transform: translate(0);
  }
  
  /* Id selectors */
  #footer {
    background-color: black;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer a {
    margin-left: 5px;
  }
  
  #main {
    background-color: rgba(50, 50, 50, 1);
    height: calc(100vh - 75px);
    padding-left: calc(33.333% / 2);
    padding-right: calc(33.333% / 2);
  }

  #nav {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

  #nav-icon {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  #nav-links {
    height: calc(100vh - 75px);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    position: absolute;
    font-size: 52px;
    transition: 0.2s;
  }
}

/* Desktop styles */
@media (min-width: 600px) {
  /* Global selectors */
  * {
    font-family: 'fira sans', arial, sans-serif;
  }

  body {
    margin: 0 auto;
  }

  /* Class selectors */

  /* Id selectors */
}