/* Mobile styles */
@media (max-width: 599px) {
  /* Global selectors */
  * {
    font-family: 'fira sans', arial, sans-serif;
    color: white;
  }

  body {
    margin: 0 auto;
    height: 100vh;
  }

  h1 {
    margin: 0;
  }

  img {
    box-shadow: 0 0 15px black;
  }

  input, textarea, button {
    color: black;
  }

  textarea {
    height: 100px;
    width: 66.666vw;
  }
  
  /* Class selectors */

  .active-nav-icon span {
    background-color: white;
    height: 3px;
    width: 35px;
    margin-top: calc(10px);
    border-radius: 15px;
    transition: 0.2s;
  }

  .inactive-nav-icon span {
    background-color: rgba(50, 50, 50, 1);
    height: 3px;
    width: 35px;
    margin-top: calc(10px);
    border-radius: 15px;
    transition: 0.2s;
  }

  .hidden-about-text {
    display: none;
  }

  .hidden-nav-links {
    transform: translate(-100%);
  }

  .hidden-update-about-form {
    display: none;
  }

  .shown-about-text {
    display: block;
  }

  .shown-nav-links {
    transform: translate(0);
  }

  .shown-update-about-form {
    display: block;
  }
  
  /* Id selectors */

  #about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #footer {
    background-color: black;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;

  }

  #footer a {
    margin-left: 5px;
  }

  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #gallery img {
    width: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 2.5px;
    transition: 0.2s;
  }

  #gallery img:hover {
    width: 125%;
    transition: 0.2s;
  }
  
  #main {
    background-color: rgba(50, 50, 50, 1);
    height: calc(100vh - 75px);
    padding-left: calc(33.333% / 2);
    padding-right: calc(33.333% / 2);
    overflow-x: scroll;
  }

  #nav {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

  #nav-icon {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  #nav-links {
    height: calc(100vh - 75px);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    position: absolute;
    font-size: 52px;
    backdrop-filter: blur(2px);
    transition: 0.2s;
  }

  #silver-portrait {
    border-radius: 50%;
    margin-top: 15px;
  }
}

/* Desktop styles */
@media (min-width: 600px) {
  /* Global selectors */
  * {
    font-family: 'fira sans', arial, sans-serif;
    color: white;
  }

  body {
    margin: 0 auto;
  }

  button, input, textarea {
    color: black;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* Class selectors */

  /* Id selectors */
  #about {
    font-size: 24px;
  }

  #about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-header h1 {
    font-size: 72px;
  }
  
  #app {
    display: flex;
    flex-direction: column;
  }

  #contact {
    background-color: black;
  }
  
  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #footer a {
    margin-left: 5px;
  }
  
  #gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  #gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #gallery-images img {
    height: 30vh;
    margin: auto;
    box-shadow: 0 0 30px black;
    border-radius: 5px;
    transition: 0.2s;
    margin-bottom: 30px;
  }
  
  #main {
    background-color: rgba(50, 50, 50, 1);
    padding-left: calc(33.333% / 2);
    padding-right: calc(33.333% / 2);
    height: calc(100vh - 75px);
    overflow-y: scroll;
  }
  
  #nav {
    display: flex;
    background-color: black;
    height: 50px;
    align-items: center;
  }
  
  #nav-links * {
    margin-left: 25px;
    font-size: 24px;
  }

  #silver-portrait {
    border-radius: 50%;
    height: 512px;
    box-shadow: 0 0 30px black;
  }
}